h1{
    text-align: left;
}

.first{
    text-align: left;
    width:200pxgit 
    
}
.gold{
    color:rgb(179, 132, 14);
    font-family: sans-serif;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 10px;


}